$default-purple: #6466f1;
$default-purple-hover-light: #7a7bea;
$light-purple: #e5e7eb;
$default-bg-blue-color: #eef2f5;
$light-grey-color: #f8f9fb;
$blue-dark: #59697f;
$blue-light-dark: #96a0ad;
$blue-very-light-dark: #e5e7eb;
